{% extends 'partials/_base.html' %}

{% block content %}

    <section class="size-full bg-red-900 p-4 flex flex-col items-center">
        <ul class="size-full bg-violet-800 p-8 flex gap-8">
            <li class="w-full h-full bg-emerald-600 p-2 rounded-xl">
                Jonathan Joestar
            </li>
            <li class="w-full h-full bg-emerald-600 p-2 rounded-xl">
                Joseph Joestar
            </li>
            <li class="w-full h-full bg-emerald-600 p-2 rounded-xl">
                Jotaro Kujo
            </li>
            <li class="w-full h-full bg-emerald-600 p-2 rounded-xl">
                Josuke Higashikata
            </li>
            <li class="w-full h-full bg-emerald-600 p-2 rounded-xl">
                Giorno Giovanna
            </li>
            <li class="w-full h-full bg-emerald-600 p-2 rounded-xl">
                Jolyne Kujo
            </li>
        </ul>
    </section>

{% endblock %}