{% extends 'partials/_base.html' %}

{% block content %}

    <section class="p-4 flex flex-col items-center">
        <ul class="size-full bg-vilet-800 p-8 flex gap-8 text-gray-100">
            <li class="w-full h-[400px] bg-[#394130] p-2 rounded-xl border-2 border-stone-500 text-stone-300">
                Jonathan Joestar
            </li>
            <li class="w-full h-[400px] bg-[#394130] p-2 rounded-xl border-2 border-stone-500 text-stone-300">
                Joseph Joestar
            </li>
            <li class="w-full h-[400px] bg-[#394130] p-2 rounded-xl border-2 border-stone-500 text-stone-300">
                Jotaro Kujo
            </li>
            <li class="w-full h-[400px] bg-[#394130] p-2 rounded-xl border-2 border-stone-500 text-stone-300">
                Josuke Higashikata
            </li>
            <li class="w-full h-[400px] bg-[#394130] p-2 rounded-xl border-2 border-stone-500 text-stone-300">
                Giorno Giovanna
            </li>
            <li class="w-full h-[400px] bg-[#394130] p-2 rounded-xl border-2 border-stone-500 text-stone-300">
                Jolyne Kujo
            </li>
        </ul>
    </section>

{% endblock %}