{% extends 'partials/_base.html' %}

{% block content %}

    <section class="bg-ed-900 p-4 flex flex-col items-center">
        <ul class="size-full bg-vilet-800 p-8 flex gap-8 text-gray-100">
            <li class="w-full h-[400px] bg-[#6F4E37] p-2 rounded-xl border-[1px] border-gray-100">
                Jonathan Joestar
            </li>
            <li class="w-full h-[400px] bg-[#6F4E37] p-2 rounded-xl border-[1px] border-gray-100">
                Joseph Joestar
            </li>
            <li class="w-full h-[400px] bg-[#6F4E37] p-2 rounded-xl border-[1px] border-gray-100">
                Jotaro Kujo
            </li>
            <li class="w-full h-[400px] bg-[#6F4E37] p-2 rounded-xl border-[1px] border-gray-100">
                Josuke Higashikata
            </li>
            <li class="w-full h-[400px] bg-[#6F4E37] p-2 rounded-xl border-[1px] border-gray-100">
                Giorno Giovanna
            </li>
            <li class="w-full h-[400px] bg-[#6F4E37] p-2 rounded-xl border-[1px] border-gray-100">
                Jolyne Kujo
            </li>
        </ul>
    </section>

{% endblock %}